awscli
aws_cdk.core
aws_cdk.aws_ec2
aws_cdk.aws_iam
aws_cdk.aws_msk
aws_cdk.aws_elasticsearch
aws_cdk.aws_s3_assets
aws_cdk.aws_lambda
aws_cdk.aws_logs
aws_cdk.aws_s3
aws_cdk.aws_cloudformation
aws_cdk.aws_ecs
aws_cdk.aws_ecr_assets
aws_cdk.aws_glue
boto3